
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="real estate, property, Esquipulas, Chiquimula, Guatemala, Belize, parcel of land, lote, terreno, sale, bienes raises">
        <meta name="description" content="Land for sale in Belize and Guatemala. And a clinic located in Esquipulas, Guatemala.">
        <meta name="author" content="JV Perera">

        <title> Perera Estate , Properties for Sale</title>
        <!-- SEO -->
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ItemList",
            "name": "JV Perera Property Listings",
            "url": "https://jvperera.com",
            "contactPoint": [
            {
                "@type": "ContactPoint",
                "telephone": "+1-872-222-6442",
                "contactType": "Customer Support",
                "email": "info@jvperera.com",
                "areaServed": ["GT", "BZ"],
                "availableLanguage": ["es", "en"]
            }
            ],
            "logo": "https://jvperera.com/assets/media/logo.svg",
            "numberOfItems": 4,
            "itemListElement": [
                {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@type": "Land",
                    "name": "PARCEL 251, VISTA DEL MAR",
                    "description": "Residential parcel in Vista Del Mar, Belize. 696.54 square meters.",
                    "url": "https://jvperera.com/details.html#parcel-251",
                    "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "Vista Del Mar",
                    "addressCountry": "BZ"
                    },
                    "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": "17.551278310050108",
                    "longitude": "88.28788438318898"
                    },
                    "offers": {
                    "@type": "Offer",
                    "priceSpecification": {
                        "@type": "PriceSpecification",
                        "price": "60000.00",
                        "priceCurrency": "USD"
                    },
                    "availability": "https://schema.org/InStock",
                    "url": "https://jvperera.com/details.html#parcel-251"
                    }
                }
                },
                {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@type": "Land",
                    "name": "LOT 102, LOS OLIVOS",
                    "description": "Lot in Los Olivos, Esquipulas, Chiquimula, Guatemala. 119 square meters.",
                    "url": "https://jvperera.com/details.html#lot102",
                    "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "Los Olivos, Esquipulas, Chiquimula",
                    "addressCountry": "GT"
                    },
                    "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": "14.559559638941282",
                    "longitude": "-89.33340260226855"
                    },
                    "offers": {
                    "@type": "Offer",
                    "priceSpecification": {
                        "@type": "PriceSpecification",
                        "price": "30000.00",
                        "priceCurrency": "USD"
                    },
                    "availability": "https://schema.org/InStock",
                    "url": "https://jvperera.com/details.html#lot102"
                    }
                }
                },
                {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@type": "Land",
                    "name": "LOT 103, LOS OLIVOS",
                    "description": "Lot in Los Olivos, Esquipulas, Chiquimula, Guatemala. 119 square meters.",
                    "url": "https://jvperera.com/details.html#lot103",
                    "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "Los Olivos, Esquipulas, Chiquimula",
                    "addressCountry": "GT"
                    },
                    "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": "14.559584301650212",
                    "longitude": "-89.333334205941"
                    },
                    "offers": {
                    "@type": "Offer",
                    "priceSpecification": {
                        "@type": "PriceSpecification",
                        "price": "30000.00",
                        "priceCurrency": "USD"
                    },
                    "availability": "https://schema.org/InStock",
                    "url": "https://jvperera.com/details.html#lot103"
                    }
                }
                },
                {
                "@type": "ListItem",
                "position": 4,
                "item": {
                    "@type": "MedicalClinic",
                    "name": "MEDICAL CLINIC, San Mateo 2",
                    "description": "Medical clinic property in San Mateo 2, Esquipulas, Chiquimula, Guatemala. 105 square meters.",
                    "url": "https://jvperera.com/details.html#medical_clinic",
                    "address": {
                    "@type": "PostalAddress",
                    "addressLocality": "San Mateo 2, Esquipulas, Chiquimula",
                    "addressCountry": "GT"
                    },
                    "geo": {
                    "@type": "GeoCoordinates",
                    "latitude": "14.567788154468285",
                    "longitude": "-89.34665613014651"
                    },
                    "offers": {
                    "@type": "Offer",
                    "priceSpecification": {
                        "@type": "PriceSpecification",
                        "price": "360000.00",
                        "priceCurrency": "USD"
                    },
                    "availability": "https://schema.org/InStock",
                    "url": "https://jvperera.com/details.html#medical_clinic"
                    }
                }
                }
            ]
        }
        </script>
        <!-- CANONICAL -->
        <link rel="canonical" href="https://jvperera.com/index.html">
        
        <!-- FAVICON FILES --> 
        <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" >
        <link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" >
        <link rel="shortcut icon" href="/assets/favicons/favicon.ico" >
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" >
        <meta name="apple-mobile-web-app-title" content="PereraEstate" >
        <link rel="manifest" href="/assets/favicons/site.webmanifest" >


        <!-- CSS FILES -->                
        <link href="/assets/css/style.css" rel="stylesheet">
        
    <!-- Perera Estate Properties for Sale -->